---
layout: layouts/base.njk
---

<!-- =========================
     ABOUT SECTION
========================= -->

<section class="about-panel" id="about">

  <div class="about-inner">


    <div class="about-content">

      <section class="about-story">
        <div class="about-text">

            	{% include "about-text.html" %}

   </div>
      </section>

    </div>
  </div>

  <!-- IMAGE COLLAGE -->
  <div class="about-gallery">
    <img src="https://placehold.co/400" alt="">
    <img src="https://placehold.co/400" alt="">
    <img src="https://placehold.co/400" alt="">
  </div>

</section>

<!-- =========================
     OFFERINGS SECTION
========================= -->

<section class="offerings-section" id="offerings">

  <div class="offerings-inner">

{% include "offerings.html" %}

  </div>

</section>