---
layout: layouts/base.njk
---
<main class="blog-post">
  <h1>{{ title }}</h1>

  <div class="blog-content">
    {{ content | safe }}
  </div>

  <div class="post-navigation">
    {% if collections.post[collections.post.indexOf(page) - 1] %}
      <a class="prev-post" href="{{ collections.post[collections.post.indexOf(page) - 1].url }}">
        &larr; Previous Post: {{ collections.post[collections.post.indexOf(page) - 1].data.title }}
      </a>
    {% endif %}

    {% if collections.post[collections.post.indexOf(page) + 1] %}
      <a class="next-post" href="{{ collections.post[collections.post.indexOf(page) + 1].url }}">
        Next Post: {{ collections.post[collections.post.indexOf(page) + 1].data.title }} &rarr;
      </a>
    {% endif %}
  </div>
</main>
